{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper pb-5">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">
                <div class="container">
                    <h1 class="article-h1 text-center mb-4 mt-4">{{post.title}}</h1>

                    {% if post.thumbnail %}
                    <div class="row justify-content-center mb-5">
                        <div class="col-md-8">
                            <img src="{{ post.thumbnail.src }}" class="my-thumb-class" alt="Image for {{ post.title }}" />
                        </div>
                    </div>
                    {% endif %}

                    <div class="row justify-content-center">
                        <div class="article-body col-md-7">
                            {{post_content}}

                            <div id="disqus_thread"></div>
                            <script>

                            /**
                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                            var disqus_config = function () {
                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            */
                            (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://EXAMPLE.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                            })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->

    <hr>

    {% include 'newsletter.twig' %}
{% endblock %}