{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper pb-5">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="container">
					<h1 class="article-h1 text-center mb-4 mt-4">{{post.title}}</h1>

					{% if post.thumbnail %}
					<div class="row justify-content-center mb-5">
						<div class="col-md-8">
							<img src="{{ post.thumbnail.src }}" class="my-thumb-class" alt="Image for {{ post.title }}" />
						</div>
					</div>
					{% endif %}

					<div class="row justify-content-center">
						<div class="article-body col-md-7">
							{{ function( 'the_content' ) }}
						</div>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

	<hr>

	{% include 'newsletter.twig' %}
{% endblock %}