{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text sr-only" href="#content">{{ _e( 'Skip to content') }}</a>

		<header class="header" >
			{% block header %}
				<div class="hero d-flex align-items-center justify-content-center">
					<div class="inner-content text-center">
						<img class="logo" src="{{theme.link}}/resources/images/logo.png" alt="Jasmine Lorimer">

						<div class="socials">
							<a target="_blank" href="https://instagram.com/jasmine.lorimer" class="instagram"><i class="fa fa-instagram"></i><span class="sr-only">instagram</span></a>
							<a target="_blank" href="https://twitter.com/jazlor1" class="twitter"><i class="fa fa-twitter"></i><span class="sr-only">twitter</span></a>
							<a target="_blank" href="https://www.youtube.com/channel/UCc6MemdlxFOQybEjitYuDsg" class="youtube"><i class="fa fa-youtube-play"></i><span class="sr-only">youtube</span></a>
						</div>
					</div>
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
